<!doctype html>
<html lang='fr'>

<head>

		<meta charset="utf-8">
		<link rel="shortcut icon" href="img/favicon.ico">
		
		<title>Activités Sportives des Pays de la Loire | Baptiste GAUTHIER & Simon BESSENAY</title>
		
		<!-- Custom CSS-->
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="css/font-awesome.css">
		
</head>

<body>
	
		<!-- navbar -->
		<header>
		
			<div class="navbar">
			
				<!-- logo -->
				<a href="index.html"><b class="logo"></b></a>
				
				<!-- links -->
				<ul>
				<li><a href="index.html"><i class="fa fa-search fa-lg"></i><b>Rechercher une autre activité</b></a></li>
				
			</div>
			
		</header>
	
	
		<!-- contents -->
		<div class="contents"><h2><i class="fa fa-exclamation-triangle"></i>Aucune activité sportive ne correspond à votre recherche...</h2><p>Vous pouvez toujours faire une nouvelle recherche pour trouver l'activité sportive de vos rêves !</p></div>
	
		<!-- footer -->
		<footer>
		
				<div class="footer-texte">
				
					<!-- Left Footer -->
					<div class="footer-left">
						&copy; 2016 - <b>Baptiste GAUTHIER & Simon BESSENAY</b>
					</div>

					<!-- Right Footer -->
					<div class="footer-right">
						Université de Nantes - IUT de Nantes - Département Informatique
					</div>
					
				</div>
			
		</footer>
	
</body>
</html>

