<!doctype html>
<html lang='fr'>

<head>

		<meta charset="utf-8">
		<link rel="shortcut icon" href="img/favicon.ico">
		
		<title>Activités Sportives des Pays de la Loire | Baptiste GAUTHIER & Simon BESSENAY</title>
		
		<!-- Custom CSS-->
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="css/font-awesome.css">
		
</head>

<body>
	
		<!-- navbar -->
		<header>
		
			<div class="navbar">
			
				<!-- logo -->
				<a href="index.html"><b class="logo"></b></a>
				
			</div>
			
		</header>
	
	
		<!-- contents -->
		<div class="contents">
		
         <h1>Activités sportives des Pays de la Loire</h1>

         <form id="search-activity">
         
         <input type="text" class="inputs" name="ville" placeholder="Recherchez une ville..." required /> 
         
         <table>
            <tr>
            <td><input type="radio" name="activity" id="1" class="css-checkbox" value="" checked="checked"/><label for="1"class="css-label">Activités de forme, santé</label></td>
            <td><input type="radio" name="activity" id="2" class="css-checkbox" value="" /><label for="2"class="css-label">Aéromodélisme</label></td>
            <td><input type="radio" name="activity" id="3" class="css-checkbox" value="" /><label for="3"class="css-label">Aérostation</label></td>
            <td><input type="radio" name="activity" id="4" class="css-checkbox" value="" /><label for="4"class="css-label">Aikido / Aikibudo / Budo</label></td>
            <td><input type="radio" name="activity" id="5" class="css-checkbox" value="" /><label for="5"class="css-label">Aquagym</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="6" class="css-checkbox" value="" /><label for="6"class="css-label">Arbalète, Tir</label></td>
            <td><input type="radio" name="activity" id="7" class="css-checkbox" value="" /><label for="7"class="css-label">Attelage</label></td>
            <td><input type="radio" name="activity" id="8" class="css-checkbox" value="" /><label for="8"class="css-label">Autres (Autres)</label></td>
            <td><input type="radio" name="activity" id="9" class="css-checkbox" value="" /><label for="9"class="css-label">Autres Danses</label></td>
            <td><input type="radio" name="activity" id="10" class="css-checkbox" value="" /><label for="10"class="css-label">Aviron</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="11" class="css-checkbox" value="" /><label for="11"class="css-label">Badminton</label></td>
            <td><input type="radio" name="activity" id="12" class="css-checkbox" value="" /><label for="12"class="css-label">Baignade loisirs</label></td>
            <td><input type="radio" name="activity" id="13" class="css-checkbox" value="" /><label for="13"class="css-label">Patinage artistique</label></td>
            <td><input type="radio" name="activity" id="14" class="css-checkbox" value="" /><label for="14"class="css-label">Ballon au poing</label></td>
            <td><input type="radio" name="activity" id="15" class="css-checkbox" value="" /><label for="15"class="css-label">Baseball</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="16" class="css-checkbox" value="" /><label for="16"class="css-label">Basket-Ball</label></td>
            <td><input type="radio" name="activity" id="17" class="css-checkbox" value="" /><label for="17"class="css-label">Bicross (BMX)</label></td>
            <td><input type="radio" name="activity" id="18" class="css-checkbox" value="" /><label for="18"class="css-label">Billard</label></td>
            <td><input type="radio" name="activity" id="19" class="css-checkbox" value="" /><label for="19"class="css-label">Boules traditionnelles</label></td>
            <td><input type="radio" name="activity" id="20" class="css-checkbox" value="" /><label for="20"class="css-label">Bowling</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="21" class="css-checkbox" value="" /><label for="21"class="css-label">Boxe Anglaise</label></td>
            <td><input type="radio" name="activity" id="22" class="css-checkbox" value="" /><label for="22"class="css-label">Boxe française savate</label></td>
            <td><input type="radio" name="activity" id="23" class="css-checkbox" value="" /><label for="23"class="css-label">Boxe thaïlandaise</label></td>
            <td><input type="radio" name="activity" id="24" class="css-checkbox" value="" /><label for="24"class="css-label">Canoë de randonnée</label></td>
            <td><input type="radio" name="activity" id="25" class="css-checkbox" value="" /><label for="25"class="css-label">Carabine, Pistolet</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="26" class="css-checkbox" value="" /><label for="26"class="css-label">Cerf volant</label></td>
            <td><input type="radio" name="activity" id="27" class="css-checkbox" value="" /><label for="27"class="css-label">Cerf volant de traction</label></td>
            <td><input type="radio" name="activity" id="28" class="css-checkbox" value="" /><label for="28"class="css-label">Cesta punta, Mains nues </label></td>
            <td><input type="radio" name="activity" id="29" class="css-checkbox" value="" /><label for="29"class="css-label">Char a cerf volant</label></td>
            <td><input type="radio" name="activity" id="30" class="css-checkbox" value="" /><label for="30"class="css-label">Char à voile</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="31" class="css-checkbox" value="" /><label for="31"class="css-label">Cible Mobile, Carabine</label></td>
            <td><input type="radio" name="activity" id="32" class="css-checkbox" value="" /><label for="32"class="css-label">Concours complet</label></td>
            <td><input type="radio" name="activity" id="33" class="css-checkbox" value="" /><label for="33"class="css-label">Course d'orientation</label></td>
            <td><input type="radio" name="activity" id="34" class="css-checkbox" value="" /><label for="34"class="css-label">Course en ligne</label></td>
            <td><input type="radio" name="activity" id="35" class="css-checkbox" value="" /><label for="35"class="css-label">Course, marche</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="36" class="css-checkbox" value="" /><label for="36"class="css-label">Course sur le plat</label></td>
            <td><input type="radio" name="activity" id="37" class="css-checkbox" value="" /><label for="37"class="css-label">Course sur piste</label></td>
            <td><input type="radio" name="activity" id="38" class="css-checkbox" value="" /><label for="38"class="css-label">Crocket</label></td>
            <td><input type="radio" name="activity" id="39" class="css-checkbox" value="" /><label for="39"class="css-label">Cross country</label></td>
            <td><input type="radio" name="activity" id="40" class="css-checkbox" value="" /><label for="40"class="css-label">Culturisme</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="41" class="css-checkbox" value="" /><label for="41"class="css-label">Cyclisme en salle</label></td>
            <td><input type="radio" name="activity" id="42" class="css-checkbox" value="" /><label for="42"class="css-label">Cyclisme sur piste</label></td>
            <td><input type="radio" name="activity" id="43" class="css-checkbox" value="" /><label for="43"class="css-label">Cyclocross</label></td>
            <td><input type="radio" name="activity" id="44" class="css-checkbox" value="" /><label for="44"class="css-label">Cyclotourisme</label></td>
            <td><input type="radio" name="activity" id="45" class="css-checkbox" value="" /><label for="45"class="css-label">Danses par Couple</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="46" class="css-checkbox" value="" /><label for="46"class="css-label">Deltaplane</label></td>
            <td><input type="radio" name="activity" id="47" class="css-checkbox" value="" /><label for="47"class="css-label">Courses océaniques</label></td>
            <td><input type="radio" name="activity" id="48" class="css-checkbox" value="" /><label for="48"class="css-label">Descente</label></td>
            <td><input type="radio" name="activity" id="49" class="css-checkbox" value="" /><label for="49"class="css-label">Dressage</label></td>
            <td><input type="radio" name="activity" id="50" class="css-checkbox" value="" /><label for="50"class="css-label">Echecs</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="51" class="css-checkbox" value="" /><label for="51"class="css-label">Equitation</label></td>
            <td><input type="radio" name="activity" id="52" class="css-checkbox" value="" /><label for="52"class="css-label">Equitation western</label></td>
            <td><input type="radio" name="activity" id="53" class="css-checkbox" value="" /><label for="53"class="css-label">Escalade</label></td>
            <td><input type="radio" name="activity" id="54" class="css-checkbox" value="" /><label for="54"class="css-label">Escalade dans les arbres</label></td>
            <td><input type="radio" name="activity" id="55" class="css-checkbox" value="" /><label for="55"class="css-label">Escalade sur PAH</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="56" class="css-checkbox" value="" /><label for="56"class="css-label">Escrime</label></td>
            <td><input type="radio" name="activity" id="57" class="css-checkbox" value="" /><label for="57"class="css-label">Expression gymnique</label></td>
            <td><input type="radio" name="activity" id="58" class="css-checkbox" value="" /><label for="58"class="css-label">Football, Futsal</label></td>
            <td><input type="radio" name="activity" id="59" class="css-checkbox" value="" /><label for="59"class="css-label">Football Américain</label></td>
            <td><input type="radio" name="activity" id="60" class="css-checkbox" value="" /><label for="60"class="css-label">Formule racer</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="61" class="css-checkbox" value="" /><label for="61"class="css-label">Fosse universelle</label></td>
            <td><input type="radio" name="activity" id="62" class="css-checkbox" value="" /><label for="62"class="css-label">Full contact</label></td>
            <td><input type="radio" name="activity" id="63" class="css-checkbox" value="" /><label for="63"class="css-label">Golf</label></td>
            <td><input type="radio" name="activity" id="64" class="css-checkbox" value="" /><label for="64"class="css-label">Gymnastique Acrobatique</label></td>
            <td><input type="radio" name="activity" id="65" class="css-checkbox" value="" /><label for="65"class="css-label">Gymnastique Aérobic</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="66" class="css-checkbox" value="" /><label for="66"class="css-label">Gymnastique Artistique</label></td>
            <td><input type="radio" name="activity" id="67" class="css-checkbox" value="" /><label for="67"class="css-label">Gymnastique Rythmique</label></td>
            <td><input type="radio" name="activity" id="68" class="css-checkbox" value="" /><label for="68"class="css-label">Gymnastique volontaire</label></td>
            <td><input type="radio" name="activity" id="69" class="css-checkbox" value="" /><label for="69"class="css-label">Haltérophilie</label></td>
            <td><input type="radio" name="activity" id="70" class="css-checkbox" value="" /><label for="70"class="css-label">Handball</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="71" class="css-checkbox" value="" /><label for="71"class="css-label">Hockey en salle</label></td>
            <td><input type="radio" name="activity" id="72" class="css-checkbox" value="" /><label for="72"class="css-label">Hockey sur glace</label></td>
            <td><input type="radio" name="activity" id="73" class="css-checkbox" value="" /><label for="73"class="css-label">Hockey sur patins</label></td>
            <td><input type="radio" name="activity" id="74" class="css-checkbox" value="" /><label for="74"class="css-label">Horse - Ball</label></td>
            <td><input type="radio" name="activity" id="75" class="css-checkbox" value="" /><label for="75"class="css-label">Javelot</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="76" class="css-checkbox" value="" /><label for="76"class="css-label">Judo, Jujitsu</label></td>
            <td><input type="radio" name="activity" id="77" class="css-checkbox" value="" /><label for="77"class="css-label">Karaté</label></td>
            <td><input type="radio" name="activity" id="78" class="css-checkbox" value="" /><label for="78"class="css-label">Karting</label></td>
            <td><input type="radio" name="activity" id="79" class="css-checkbox" value="" /><label for="79"class="css-label">Kayak de mer</label></td>
            <td><input type="radio" name="activity" id="80" class="css-checkbox" value="" /><label for="80"class="css-label">Kayak-polo</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="81" class="css-checkbox" value="" /><label for="81"class="css-label">Kendo, Jodo</label></td>
            <td><input type="radio" name="activity" id="82" class="css-checkbox" value="" /><label for="82"class="css-label">Kick boxing</label></td>
            <td><input type="radio" name="activity" id="83" class="css-checkbox" value="" /><label for="83"class="css-label">Lancer</label></td>
            <td><input type="radio" name="activity" id="84" class="css-checkbox" value="" /><label for="84"class="css-label">Lutte traditionnelle</label></td>
            <td><input type="radio" name="activity" id="85" class="css-checkbox" value="" /><label for="85"class="css-label">Marathon</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="86" class="css-checkbox" value="" /><label for="86"class="css-label">Marche</label></td>
            <td><input type="radio" name="activity" id="87" class="css-checkbox" value="" /><label for="87"class="css-label">Modèle réduit</label></td>
            <td><input type="radio" name="activity" id="88" class="css-checkbox" value="" /><label for="88"class="css-label">Modélisme automobile</label></td>
            <td><input type="radio" name="activity" id="89" class="css-checkbox" value="" /><label for="89"class="css-label">Moto verte</label></td>
            <td><input type="radio" name="activity" id="90" class="css-checkbox" value="" /><label for="90"class="css-label">Motocross, Enduro</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="91" class="css-checkbox" value="" /><label for="91"class="css-label">Motocyclisme</label></td>
            <td><input type="radio" name="activity" id="92" class="css-checkbox" value="" /><label for="92"class="css-label">Motonautisme</label></td>
            <td><input type="radio" name="activity" id="93" class="css-checkbox" value="" /><label for="93"class="css-label">Musculation</label></td>
            <td><input type="radio" name="activity" id="94" class="css-checkbox" value="" /><label for="94"class="css-label">Nage avec palmes</label></td>
            <td><input type="radio" name="activity" id="95" class="css-checkbox" value="" /><label for="95"class="css-label">Nage en eau vive</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="96" class="css-checkbox" value="" /><label for="96"class="css-label">Natation course sportive</label></td>
            <td><input type="radio" name="activity" id="97" class="css-checkbox" value="" /><label for="97"class="css-label">Natation en eau libre</label></td>
            <td><input type="radio" name="activity" id="98" class="css-checkbox" value="" /><label for="98"class="css-label">Natation synchronisée</label></td>
            <td><input type="radio" name="activity" id="99" class="css-checkbox" value="" /><label for="99"class="css-label">Orientation subaquatique</label></td>
            <td><input type="radio" name="activity" id="100" class="css-checkbox" value="" /><label for="100"class="css-label">Paintball</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="101" class="css-checkbox" value="" /><label for="101"class="css-label">Parachutisme</label></td>
            <td><input type="radio" name="activity" id="102" class="css-checkbox" value="" /><label for="102"class="css-label">Parachutisme Surf</label></td>
            <td><input type="radio" name="activity" id="103" class="css-checkbox" value="" /><label for="103"class="css-label">Parapente</label></td>
            <td><input type="radio" name="activity" id="104" class="css-checkbox" value="" /><label for="104"class="css-label">Parcours de chasse</label></td>
            <td><input type="radio" name="activity" id="105" class="css-checkbox" value="" /><label for="105"class="css-label">Patinage artistique</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="106" class="css-checkbox" value="" /><label for="106"class="css-label">Patinage de course</label></td>
            <td><input type="radio" name="activity" id="107" class="css-checkbox" value="" /><label for="107"class="css-label">Pêche (eau douce)</label></td>
            <td><input type="radio" name="activity" id="108" class="css-checkbox" value="" /><label for="108"class="css-label">Pêche en mer</label></td>
            <td><input type="radio" name="activity" id="109" class="css-checkbox" value="" /><label for="109"class="css-label">Pêche sous marine</label></td>
            <td><input type="radio" name="activity" id="110" class="css-checkbox" value="" /><label for="110"class="css-label">Pêche sportive</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="111" class="css-checkbox" value="" /><label for="111"class="css-label">Pétanque</label></td>
            <td><input type="radio" name="activity" id="112" class="css-checkbox" value="" /><label for="112"class="css-label">Pirogue polynésienne</label></td>
            <td><input type="radio" name="activity" id="113" class="css-checkbox" value="" /><label for="113"class="css-label">Planche à roulettes</label></td>
            <td><input type="radio" name="activity" id="114" class="css-checkbox" value="" /><label for="114"class="css-label">Planche à Voile</label></td>
            <td><input type="radio" name="activity" id="115" class="css-checkbox" value="" /><label for="115"class="css-label">Planeur ULM</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="116" class="css-checkbox" value="" /><label for="116"class="css-label">Plongée d'exploration</label></td>
            <td><input type="radio" name="activity" id="117" class="css-checkbox" value="" /><label for="117"class="css-label">Plongée subaquatique</label></td>
            <td><input type="radio" name="activity" id="118" class="css-checkbox" value="" /><label for="118"class="css-label">Plongeon</label></td>
            <td><input type="radio" name="activity" id="119" class="css-checkbox" value="" /><label for="119"class="css-label">Polo</label></td>
            <td><input type="radio" name="activity" id="120" class="css-checkbox" value="" /><label for="120"class="css-label">Quad</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="121" class="css-checkbox" value="" /><label for="121"class="css-label">Raid équestre</label></td>
            <td><input type="radio" name="activity" id="122" class="css-checkbox" value="" /><label for="122"class="css-label">Randonnée équestre</label></td>
            <td><input type="radio" name="activity" id="123" class="css-checkbox" value="" /><label for="123"class="css-label">Randonnée pédestre</label></td>
            <td><input type="radio" name="activity" id="124" class="css-checkbox" value="" /><label for="124"class="css-label">Rodéo/Freestyle</label></td>
            <td><input type="radio" name="activity" id="125" class="css-checkbox" value="" /><label for="125"class="css-label">Roller acrobatique</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="126" class="css-checkbox" value="" /><label for="126"class="css-label">Rugby à 13 / Rugby à 7</label></td>
            <td><input type="radio" name="activity" id="127" class="css-checkbox" value="" /><label for="127"class="css-label">Rugby à 15 / Rugby à 7</label></td>
            <td><input type="radio" name="activity" id="128" class="css-checkbox" value="" /><label for="128"class="css-label">Saut</label></td>
            <td><input type="radio" name="activity" id="129" class="css-checkbox" value="" /><label for="129"class="css-label">Saut à l'élastique</label></td>
            <td><input type="radio" name="activity" id="130" class="css-checkbox" value="" /><label for="130"class="css-label">Saut d'obstacle</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="131" class="css-checkbox" value="" /><label for="131"class="css-label">Sauvetage côtier</label></td>
            <td><input type="radio" name="activity" id="132" class="css-checkbox" value="" /><label for="132"class="css-label">Sauvetage en eau plate</label></td>
            <td><input type="radio" name="activity" id="133" class="css-checkbox" value="" /><label for="133"class="css-label">Ski nautique</label></td>
            <td><input type="radio" name="activity" id="134" class="css-checkbox" value="" /><label for="134"class="css-label">Slalom</label></td>
            <td><input type="radio" name="activity" id="135" class="css-checkbox" value="" /><label for="135"class="css-label">Softball</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="136" class="css-checkbox" value="" /><label for="136"class="css-label">Spéléologie</label></td>
            <td><input type="radio" name="activity" id="137" class="css-checkbox" value="" /><label for="137"class="css-label">Sport automobile</label></td>
            <td><input type="radio" name="activity" id="138" class="css-checkbox" value="" /><label for="138"class="css-label">Sport scolaire</label></td>
            <td><input type="radio" name="activity" id="139" class="css-checkbox" value="" /><label for="139"class="css-label">Sports boules</label></td>
            <td><input type="radio" name="activity" id="140" class="css-checkbox" value="" /><label for="140"class="css-label">Squash</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="141" class="css-checkbox" value="" /><label for="141"class="css-label">Surf</label></td>
            <td><input type="radio" name="activity" id="142" class="css-checkbox" value="" /><label for="142"class="css-label">Swing</label></td>
            <td><input type="radio" name="activity" id="143" class="css-checkbox" value="" /><label for="143"class="css-label">Taekwondo</label></td>
            <td><input type="radio" name="activity" id="144" class="css-checkbox" value="" /><label for="144"class="css-label">Tai chi chuan</label></td>
            <td><input type="radio" name="activity" id="145" class="css-checkbox" value="" /><label for="145"class="css-label">Téléski nautique</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="146" class="css-checkbox" value="" /><label for="146"class="css-label">Tennis</label></td>
            <td><input type="radio" name="activity" id="147" class="css-checkbox" value="" /><label for="147"class="css-label">Tennis de table</label></td>
            <td><input type="radio" name="activity" id="148" class="css-checkbox" value="" /><label for="148"class="css-label">Tir à l'arc</label></td>
            <td><input type="radio" name="activity" id="149" class="css-checkbox" value="" /><label for="149"class="css-label">Tir aux armes</label></td>
            <td><input type="radio" name="activity" id="150" class="css-checkbox" value="" /><label for="150"class="css-label">Trampoline</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="151" class="css-checkbox" value="" /><label for="151"class="css-label">Trial</label></td>
            <td><input type="radio" name="activity" id="152" class="css-checkbox" value="" /><label for="152"class="css-label">Tumbling</label></td>
            <td><input type="radio" name="activity" id="153" class="css-checkbox" value="" /><label for="153"class="css-label">Twirling bâton</label></td>
            <td><input type="radio" name="activity" id="154" class="css-checkbox" value="" /><label for="154"class="css-label">Voile radio commandée</label></td>
            <td><input type="radio" name="activity" id="155" class="css-checkbox" value="" /><label for="155"class="css-label">Vol à voile</label></td>
            </tr>
            <tr>
            <td><input type="radio" name="activity" id="156" class="css-checkbox" value="" /><label for="156"class="css-label">Volley-ball</label></td>
            <td><input type="radio" name="activity" id="157" class="css-checkbox" value="" /><label for="157"class="css-label">VTT</label></td>
            <td><input type="radio" name="activity" id="158" class="css-checkbox" value="" /><label for="158"class="css-label">Water-Polo</label></td>
            <td><input type="radio" name="activity" id="159" class="css-checkbox" value="" /><label for="159"class="css-label">Wave-ski</label></td>
            </tr>
         </table>
		
		   <div class="bouton">
            <button type="submit" class="btn btn-primary btn-lg outline"><i class="fa fa-search fa-lg"></i>Rechercher une activité</button>
		   </div>
		   
         </form>
         
	    </div>
	
		<!-- footer -->
		<footer>
		
				<div class="footer-texte">
				
					<!-- Left Footer -->
					<div class="footer-left">
						&copy; 2016 - <b>Baptiste GAUTHIER & Simon BESSENAY</b>
					</div>

					<!-- Right Footer -->
					<div class="footer-right">
						Université de Nantes - IUT de Nantes - Département Informatique
					</div>
					
				</div>
			
		</footer>
	
</body>
</html>

