<!doctype html>
<html lang='fr'>

<head>

		<meta charset="utf-8">
		<link rel="shortcut icon" href="img/favicon.ico">
		
		<title>Activités Sportives des Pays de la Loire | Baptiste GAUTHIER & Simon BESSENAY</title>
		
		<!-- Custom CSS-->
		<link rel="stylesheet" href="css/styles.css">
		<link rel="stylesheet" href="css/font-awesome.css">
		
</head>

<body>
	
		<!-- navbar -->
		<header>
		
			<div class="navbar">
			
				<!-- logo -->
				<a href="index.html"><b class="logo"></b></a>
				
				<!-- links -->
				<ul>
				<li><a href="index.html"><i class="fa fa-search fa-lg"></i><b>Rechercher une autre activité</b></a></li>
				
			</div>
			
		</header>
	
	
		<!-- contents -->
		<div class="contents">
         <div class="liste">
         
            <div class="activite">
               <div id="header"><b>Nom activité</b></div>
               <div id="section">
                  <table>
                     <tr><td><i class="fa fa-briefcase"></i></td><td>Nom equipement (type equipement)</td></tr>
                     <tr><td><i class="fa fa-suitcase"></i></td><td>Nom installation</td></tr>
                     <tr><td><i class="fa fa-map-marker"></i></td><td>Adresse installation (numéro de la voie, nom du lieu dit, nom de la voie, code postal, nom de la commune)</td></tr>
                  </table>
                     <a href="https://www.google.fr/maps/@lat,long" target="_blank">Où trouve-t-on cette activité ?</a>
               </div>
            </div>
            
            <div class="activite">
               <div id="header"><b>Nom activité</b></div>
               <div id="section">
                  <table>
                     <tr><td><i class="fa fa-briefcase"></i></td><td>Nom equipement (type equipement)</td></tr>
                     <tr><td><i class="fa fa-suitcase"></i></td><td>Nom installation</td></tr>
                     <tr><td><i class="fa fa-map-marker"></i></td><td>Adresse installation (numéro de la voie, nom du lieu dit, nom de la voie, code postal, nom de la commune)</td></tr>
                  </table>
                     <a href="https://www.google.fr/maps/@lat,long" target="_blank">Où trouve-t-on cette activité ?</a>
               </div>
            </div>
            
            <div class="activite">
               <div id="header"><b>Nom activité</b></div>
               <div id="section">
                  <table>
                     <tr><td><i class="fa fa-briefcase"></i></td><td>Nom equipement (type equipement)</td></tr>
                     <tr><td><i class="fa fa-suitcase"></i></td><td>Nom installation</td></tr>
                     <tr><td><i class="fa fa-map-marker"></i></td><td>Adresse installation (numéro de la voie, nom du lieu dit, nom de la voie, code postal, nom de la commune)</td></tr>
                  </table>
                     <a href="https://www.google.fr/maps/@lat,long" target="_blank">Où trouve-t-on cette activité ?</a>
               </div>
            </div>
            
            <div class="activite">
               <div id="header"><b>Nom activité</b></div>
               <div id="section">
                  <table>
                     <tr><td><i class="fa fa-briefcase"></i></td><td>Nom equipement (type equipement)</td></tr>
                     <tr><td><i class="fa fa-suitcase"></i></td><td>Nom installation</td></tr>
                     <tr><td><i class="fa fa-map-marker"></i></td><td>Adresse installation (numéro de la voie, nom du lieu dit, nom de la voie, code postal, nom de la commune)</td></tr>
                  </table>
                     <a href="https://www.google.fr/maps/@lat,long" target="_blank">Où trouve-t-on cette activité ?</a>
               </div>
            </div>
      
         </div>
	   </div>
	
		<!-- footer -->
		<footer>
		
				<div class="footer-texte">
				
					<!-- Left Footer -->
					<div class="footer-left">
						&copy; 2016 - <b>Baptiste GAUTHIER & Simon BESSENAY</b>
					</div>

					<!-- Right Footer -->
					<div class="footer-right">
						Université de Nantes - IUT de Nantes - Département Informatique
					</div>
					
				</div>
			
		</footer>
	
</body>
</html>

